<div class="col-12 ">
    <div class="row">
        <div class="col-10 offset-1  section-heading-container">
            <h2 class="section-heading">How to use LibraryEMS</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-10 offset-1 small-form-container help-container" style="background-color: whitesmoke; padding: 5px; ">
            <div class="row">

                <div class="col-4">
                    <h6>Adding an Event</h6>
                    <video preload="none" width="320" height="240" controls src="~/help_videos/Adding an event.mp4"></video>
                    <hr />
                </div>
                <div class="col-4">
                    <h6>Adding an Event Over Consecutive Days</h6>
                    <video preload="none" width="320" height="240" controls src="~/help_videos/Adding an event that spans over consecutive days.mp4"></video>
                    <hr />
                </div>
                <div class="col-4">
                    <h6>Adding an Event Over Nonconsecutive Days</h6>
                    <video preload="none" width="320" height="240" controls src="~/help_videos/Adding an event that spans over nonconsecutive days.mp4"></video>
                    <hr />
                </div>
            </div>

            <div class="row">

                <div class="col-4">
                    <h6>Cancel an Event</h6>
                    <video preload="none" width="320" height="240" controls src="~/help_videos/Cancel an event.mp4"></video>
                    <hr />
                </div>
                <div class="col-4">
                    <h6>Close a Completed Event</h6>
                    <video preload="none" width="320" height="240" controls src="~/help_videos/Closing an Event.mp4"></video>
                    <hr />
                </div>
                <div class="col-4">
                    <h6>Admin - Delete Event</h6>
                    <video preload="none" width="320" height="240" controls src="~/help_videos/Admin Delete an event.mp4"></video>
                    <hr />
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <h6>View All Events</h6>
                    <video preload="none" width="320" height="240" controls src="~/help_videos/Viewing all events.mp4"></video>
                    <hr />
                </div>
                <div class="col-4">
                    <h6>Using the Event Calendar</h6>
                    <video preload="none" width="320" height="240" controls src="~/help_videos/Clicking Events on the Calendar.mp4"></video>
                    <hr />
                </div>
                <div class="col-4">
                    <h6>View Activity Log</h6>
                    <video preload="none" width="320" height="240" controls src="~/help_videos/Viewing Activity Log.mp4"></video>
                    <hr />
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <h6>Adding, Editing and Deleting Event Types</h6>
                    <video preload="none" width="320" height="240" controls src="~/help_videos/Adding Editing and Deleting Event Types.mp4"></video>
                    <hr />
                </div>
                <div class="col-4">
                    <h6>Adding, Editing and Deleting Venues</h6>
                    <video preload="none" width="320" height="240" controls src="~/help_videos/Adding Editing and Deleting Venues.mp4"></video>
                    <hr />
                </div>
                <div class="col-4">
                    <h6> Export Data to Excel</h6>
                    <video preload="none" width="320" height="240" controls src="~/help_videos/Export data to Excel.mp4"></video>
                    <hr />
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <h6>Export Data Metrics</h6>
                    <video preload="none" width="320" height="240" controls src="~/help_videos/Export data to Metrics.mp4"></video>
                    <hr />
                </div>

                <div class="col-4">
                    <h6>Add a Marketing Item to Events</h6>
                    <video preload="none" width="320" height="240" controls src="~/help_videos/Adding a Marketing item to an event.mp4"></video>
                    <hr />
                </div>

                <div class="col-4">
                    <h6>Admin - Delete Marketing Items</h6>
                    <video preload="none" width="320" height="240" controls src="~/help_videos/Admin Delete Event Marketing.mp4"></video>
                    <hr />
                </div>

            </div>


        </div>
    </div>

</div>